@import './variables';
@import './buttons';
@import './Tablemixins.scss';
@import './darkmixins.scss';
@import './Lightmixins.scss';

@mixin widthHeight($width: '', $height: '') {
  width: $width;
  height: $height;
}
@mixin topLeft($top: '', $left: '') {
  top: $top;
  left: $left;
}
@mixin visibility($v: '', $o: '') {
  visibility: $v;
  opacity: $o;
}
@mixin bg($bg: '', $col: '') {
  background-color: $bg;
  color: $col;
}
@mixin transform($a, $b) {
  -webkit-transform: translate($a, $b);
}
@mixin transistion {
  -webkit-transition: all 0.3s ease;
}
@mixin fontFamily($fontSize: '', $weight: '') {
  font-family: $font_family;
  font-size: $fontSize;
  font-weight: $weight;
}

@mixin borderRadius($border: '', $radius: '') {
  border: $border;
  border-radius: $radius;
}
@mixin input(
  $width: '',
  $height: '',
  $border: '',
  $radius: '',
  $bg: '',
  $col: '',
  $hover: ''
) {
  width: $width;
  height: $height;
  border: $border;
  border-radius: $radius;
  background-color: $bg;
  color: $col;
  outline: none;
  input:focus {
    background-color: $hover;
  }
}

@mixin antD($bg: '', $col: '', $other: '', $width: '', $height: '') {
  .ant-layout {
    @include bg($col);
  }
  .ant-layout-footer {
    position: absolute;
    bottom: 5px;
    @include bg($moon_color);
    @include widthHeight($width, $height);
  }
  .anticon-menu-fold,
  .anticon-menu-unfold {
    color: $col;
  }
  .anticon-menu-fold,
  .anticon-menu-unfold {
    @include bg('', $white_color);
  }
  .ant-layout-footer {
    @include bg($bg);
  }
  .logout_footer {
    .ant-btn {
      @include button($col, $bg, $white_color);
      @include bg($button_color, $white_color);
    }
  }
  .ant-menu {
    @include bg($bg, $white_color);
    .ant-menu-item {
      @include fontFamily($sub_heading);
    }
  }
  .ant-layout-sider {
    @include fontFamily($normal_font);
    @include bg($dark_moon);
  }
  .ant-layout-header {
    @include bg($dark_moon);
    position: relative;
    .theme_switch {
      @include bg($dim_dark);
    }
  }
}
