@mixin widthHeight($width: '', $height: '') {
  width: $width;
  height: $height;
}
@mixin topLeft($top: '', $left: '') {
  top: $top;
  left: $left;
}
@mixin visibility($v: '', $o: '') {
  visibility: $v;
  opacity: $o;
}
@mixin bg($bg: '', $col: '') {
  background-color: $bg;
  color: $col;
}
@mixin transform($a, $b) {
  -webkit-transform: translate($a, $b);
}
@mixin transistion {
  -webkit-transition: all 0.3s ease;
}
@mixin font-family {
  font-family: $font_family;
}

// dark theme
@mixin darkThemes {
  @import url('antd/dist/antd.dark.css');
  @include font-family();
  @include bg($dark_moon, $white_color);
  .ant-layout {
    @include bg($white_color);
  }
  .anticon-menu-fold,
  .anticon-menu-unfold {
    color: $white_color;
  }
  .ant-layout-header {
    position: relative;
  }
  .ant-layout-footer {
    @include bg($moon_color);
  }
  .content_height {
    padding: 0 !important;
  }
}

// Light theme
@mixin lightThemes {
  @import url('antd/dist/antd.css');
  @include bg($white_color, $moon_color);
  .ant-menu {
    @include bg($dark_moon, $white_color);
  }
  .ant-layout {
    @include bg($white_color);
  }
  .ant-layout-sider {
    @include bg($dark_moon);
  }
  .ant-layout-header {
    @include bg($dark_moon);
    position: relative;
  }
  .content_height {
    padding: 0 !important;
  }
  .anticon-menu-fold,
  .anticon-menu-unfold {
    @include bg('', $white_color);
  }
  .ant-table-thead > tr > th {
    @include bg($button_color);
  }
}
