@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import 'variables';
@import './mixins.scss';
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif !important;
}
