// @import '~antd/dist/antd.css';
// @import 'antd/dist/antd.dark.css';
// @media (prefers-color-scheme: light) {
//   @import 'antd/dist/antd.css';
//     @import 'antd/lib/style/themes/default.less';
// }

/* Dark mode CSS */
// @media (prefers-color-scheme: dark) {
//   @import 'antd/dist/antd.dark.css';
//     @import 'antd/lib/style/themes/dark.less';
// }
// @import './mixins.scss';
// .darkTheme {
//   @include theme-colors();
// }
// .lightTheme {
//   @include theme-colors();
// }

// * {
//   @include theme-colors(true, white, black);
// }

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
*,
body {
  // .darkTheme {
  //   @include dark();
  // }
  // .lightTheme {
  //   @include ligth();
  // }
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif !important;
}
