// @import './mixins.scss';

@mixin TableTheme($background: '', $col: '', $othere: '') {
  .dropdown_search {
    .ant-select {
      @include bg($col, $othere);
      input {
        @include bg($background, $col);
      }
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      @include borderRadius('', 5px);
      @include bg($background, $col);
    }
    .btn_search {
      @include button($col, $othere);
    }
  }

  .table_container {
    @include fontFamily();
    display: block;
    max-width: 100%;
    .tableWrap {
      display: block;
      max-width: 99%;
      overflow-y: hidden;
      // overflow-x: hidden;
      // border-bottom: 1px solid black;
    }
    table {
      @include fontFamily($normal_font);
      @include widthHeight(100%);
      // overflow: visible;
      border-spacing: 0;
      thead {
        th {
          @include fontFamily($sub_heading);
          input {
            @include bg($col, $background);
            @include borderRadius(1px solid, 5px);
            padding-left: 3px;
          }
          input:focus {
            outline: none;
          }
        }
      }
      tr {
        th {
          @include bg($background, $col);
        }
      }
      tr {
        :last-child {
          td {
            border-bottom: 0;
          }
        }
      }

      th,
      td {
        @include widthHeight(120px);
        @include borderRadius(1px solid);
        @include fontFamily($normal_font);
        text-align: 'left';
        // border: 0;
        margin: 0;
        padding: 0.5rem;
        border-bottom: 1px solid black;
        &.collapse {
          @include widthHeight(0.0000000001%);
        }
        :last-child {
          border-right: 0;
        }
      }
    }

    .pagination {
      padding: 0.5rem;
      display: flex;
      justify-content: flex-end;
      min-width: max-content;
      //  .btn_search {
      // }
      button {
        // @include button($col, $othere);
        @include widthHeight(30px);
        @include bg($background, $col);
        @include borderRadius(0.1px solid, 4px);
        margin-right: 5px;
      }
      button:active {
        @include borderRadius(0.1px solid);
      }
      .page_input_and_row_select {
        .pageNumber_input {
          @include widthHeight(70px);
          @include bg($background, $col);
          @include borderRadius(1.5px solid $background, 5px);
          padding-left: 4px;
          margin-right: 5px;
        }
      }
      select {
        @include bg($background, $col);
        @include borderRadius('', 5px);
      }
    }
  }
}
