// color variables
$primary_color: blue;
$white_color: #fff;
$dark_color: #000;
$button_color: rgba(0, 0, 0, 0.4);
$white_background: #e1e8ee;
$moon_color: #25587c;
$dark_moon: #122f50;
$sky_color: #6b92a4;

// font sizes
$main_heading: 1.7em;
$sub_heading: 14px;
$normal_font: 12px;

// font family
$font_family: 'Fira Sans', Helvetica, Arial, sans-serif;

* {
  font-family: $font_family;
}
// image url
$login_image: 'https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100';

// https://source.unsplash.com/random/500x700
