@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
// @import '../../styles/buttons';
@import '../../styles/Tablemixins.scss';
// @import '../../styles/input';

body {
  @include antD();
  .darkTheme {
    @include darkThemes();
  }
  .lightTheme {
    @include lightThemes();
  }
  .theme_switch {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  // .ant-layout {
  //   @include bg($dark_moon);
  // }
  // .ant-layout-footer {
  //   position: absolute;
  //   bottom: 5px;
  //   @include bg($moon_color);
  //   @include widthHeight(100%);
  // }
  .logo {
    float: left;
    @include widthHeight(120px, 31px);
    @include bg(rgba(255, 255, 255, 0.3));
    margin: 16px 24px 16px 10px;
  }
  .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .content_height {
    min-height: 100vh !important;
    margin: 24px 16px !important;
    padding: 24px !important;
  }
}
