@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html {
  @include bg($white_background);
  min-height: 100vh;
  overflow-x: hidden;
}

.parent_login {
  @include bg($white_background);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font_family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-structor {
  @include widthHeight(350px, 550px);
  @include bg(#222);
  border-radius: 15px;
  position: relative;
  overflow: hidden;

  &::after {
    @include visibility('', 0.8);
    @include topLeft(0, 0);
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 500px;
    background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100');
  }

  .signup {
    @include transistion();
    @include transform(-50%, -50%);
    @include widthHeight(65%);
    @include topLeft(50%, 50%);
    position: absolute;
    z-index: 5;

    &.slide-up {
      @include transistion();
      @include transform(-50%, 0%);
      @include topLeft(5%);
    }

    &.slide-up .form-holder,
    &.slide-up .submit-btn {
      @include visibility(hidden, 0);
    }

    &.slide-up .form-title {
      font-size: $normal_font;
      cursor: pointer;
    }

    &.slide-up .form-title span {
      @include transistion();
      @include visibility(visible, 1);
      margin-right: 5px;
    }

    .form-title {
      @include bg('', $white_color);
      font-size: $main_heading;
      text-align: center;

      span {
        @include transistion();
        @include bg('', $button_color);
        @include visibility(hidden, 0);
      }
    }

    .form-holder {
      @include transistion();
      @include bg($white_color);
      @include visibility(visible, 1);
      border-radius: 15px;
      overflow: hidden;
      margin-top: 50px;

      .input {
        @include widthHeight(100%, 40px);
        border: 0;
        outline: none;
        box-shadow: none;
        display: block;
        line-height: 30px;
        padding: 8px 15px;
        border-bottom: 1px solid #eee;
        font-size: $normal_font;

        &:last-child {
          border-bottom: 0;
        }
        &::-webkit-input-placeholder {
          @include bg('', $button_color);
        }
      }
    }

    .submit-btn {
      @include transistion();
      @include bg($button_color, rgba(256, 256, 256, 0.7));
      @include widthHeight(100%);
      @include visibility(visible, 1);
      border: 0;
      border-radius: 15px;
      display: block;
      margin: 15px auto;
      padding: 15px 45px;
      font-size: $normal_font;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        @include transistion();
        @include bg($button_color);
      }
    }
  }

  .login {
    @include transistion();
    @include bg($white_color);
    @include topLeft(20%, 0);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;

    &::before {
      @include transistion();
      @include transform(-50%, 0%);
      @include widthHeight(200%, 250px);
      @include bg($white_color);
      @include topLeft(-20px, 50%);
      content: '';
      position: absolute;
      border-radius: 50%;
      z-index: 4;
    }

    .center {
      @include transform(-50%, -50%);
      @include transistion();
      @include topLeft(calc(50% - 10%), 50%);
      @include widthHeight(65%);
      position: absolute;
      z-index: 5;
      .form-title {
        @include bg('', #000);
        font-size: $main_heading;
        text-align: center;

        span {
          @include transistion();
          @include bg('', $button_color);
          @include visibility(hidden, 0);
        }
      }

      .form-holder {
        @include transistion();
        @include bg($white_color);
        @include visibility(visible, 1);
        border-radius: 15px;
        border: 1px solid #eee;
        overflow: hidden;
        margin-top: 50px;

        .input {
          @include widthHeight(100%, 40px);
          border: 0;
          outline: none;
          box-shadow: none;
          display: block;
          line-height: 30px;
          padding: 8px 15px;
          border-bottom: 1px solid #eee;
          font-size: $sub_heading;

          &:last-child {
            border-bottom: 0;
          }
          &::-webkit-input-placeholder {
            @include bg('', $button_color);
          }
        }
      }

      .submit-btn {
        @include transistion();
        @include bg($sky_color, rgba(256, 256, 256, 0.7));
        @include visibility(visible, 1);
        @include widthHeight(100%);
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 15px auto;
        padding: 15px 45px;
        font-size: $sub_heading;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          @include transistion();
          @include bg($button_color);
        }
      }
    }

    &.slide-up {
      @include transistion();
      @include topLeft(90%);
    }

    &.slide-up .center {
      @include transistion();
      @include transform(-50%, 0%);
      @include topLeft(10%);
    }

    &.slide-up .form-holder,
    &.slide-up .submit-btn {
      @include transistion();
      @include visibility(hidden, 0);
    }

    &.slide-up .form-title {
      @include transistion();
      font-size: $sub_heading;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }

    &.slide-up .form-title span {
      @include transistion();
      @include visibility(visible, 1);
      margin-right: 5px;
    }
  }
}
